/* LANDING PAGE CSS -------------------------*/

.home-page-wrapper {
    width: 100%;
    overflow: hidden;
    background-color: #44b678;
  }
  
  .home-site-content {
    position: relative;
    width: 100%;
    min-height: 90vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .home-site-content .heading-text {
    font-size: 80px;
    font-weight: 700;
    color: #fff;
  }

  @media screen and (max-width: 450px) {
    .home-site-content .heading-text {
      font-size: 60px;
    }
  }
  
  .home-site-content .heading-text span {
    color: #fff;
  }
  
  .home-site-content .sub-text {
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    padding: 10px 0;
  }

  .home-site-content .center-div {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
  }
  
  .home-site-content .search-section {
    width: 80%;
    margin: 0 auto;
  }
  
  .home-site-content .home-cta {
    color: #003941;
    background-color: #fff;
    margin: 15px 0;
  }
  