
  /* FILTER OPTIONS CSS */
   .filter-fields-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 4rem;
  }

   .filter-fields-section .fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #191919;
    position: relative;
  }

   .filter-fields-section .fields {
    width: 18% !important;
  }

   .filter-fields-section .f-end {
    display: flex;
    justify-content: flex-end;
  }

   .filter-fields-section .filter {
    width: 100%;
    max-width: 150px;
  }

   .filter-fields-section .filter label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:  1px solid #d9d9d9;
    padding: 5px 10px;
    font-weight: 500;
    border-radius: 3px;
    font-size: 14px;
    /* width: 100%; */
    /* width: 80px; */
  }

  .filter-fields-section .filter label span {
    margin-right: 8px !important;
  }

   .filter-fields-section .f-end .filter label{
    position: relative;
    border: none;
  }

   .filter-fields-section .f-end .filter span::before{
    position: absolute;
    content: "Sort";
    float: left;
    margin-top: -10px !important;
    font-size: xx-small;
  }

   /*-------------- DROPDOWN CSS ---------*/

  .slide {
    position: absolute;
    top: 25;
    left: 20;
    width:170px;
    height:130px;
    padding: 20px;
    margin-top: 3px;
    overflow: hidden;
    border-radius: 3px;
    text-align: left;
    transition: height .4s ease;
    background: #fff;
    display: flex;
    flex-direction: column;
    border:  1px solid #d9d9d9;
    z-index: 9999;
  }

  .filter .Rt {
    left: unset !important;
    right: 0 !important;
  }

  .slide li a {
    font-size: 14px;
    color: #9b9b9b;
    text-align:left ;
    font-weight: 500;
  }


  .no-slide {
    display: none;
  }

 .filter-fields-section .filter .f-btn {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
  }

 .filter-fields-section .filter .f-btn .icon-dwn {
    margin-top: 10px;
    margin-left: 20px;
  }
  
    /* END  FILTER OPTIONS CSS */

    /* REPOSNSIVE FILTER SECTION */

    @media only screen and (max-width: 1900px) {
      .filter-fields-section .fields .no-mob-xs{
        margin-right: 15px !important;
      }
    }


    @media only screen and (max-width: 1025px) {
      .filter-fields-section {
        padding: 18px 1rem !important;
      }
    }

    @media only screen and (max-width: 768px) {
      .filter-fields-section .fields .no-mob-xs{
        display: none;
      }
      .filter-fields-section .f-end .mob-xs {
        width: 100%;
        max-width: 120px;
      }

      .filter-fields-section .fields {
        width: unset !important;
      }

      .filter-fields-section .f-end .mob-xs .icon-dwn {
        margin-right: -10px;
      }

      .filter .slide {
        width: 140px !important;
      }
    }
