.project-section-wrapper {
    width: 100%;
    min-height: 100vh;
    padding: 20px 4rem;
    /* margin-top: 140px; */
    padding-top: 150px;
  }
  
  .project-section-wrapper .project-container-fluid {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .project-section-wrapper .project-container-fluid .detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }

  .project-section-wrapper .image-content {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 500px;
    margin: 0 auto;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15); 
    padding: 20px;
  }


  .project-section-wrapper .image-content img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .project-section-wrapper  .detail-container h2 {
    font-size: 35px;
    line-height: 1.5;
    text-align: center;
    color: #29353e;
    font-weight: bold;
    padding: 10px 0;
  }

  .project-section-wrapper  .detail-container .loader {
    color: #00b5a0;
  }

  .project-section-wrapper   .asset-info {
    margin: 20px 0;
    padding-bottom: 20px;
  }
  
  .project-section-wrapper   .asset-info  p{
    font-size: 24px;
    text-align: center;
    color: #374957;
    font-weight: 600;
    padding: 5px 0;
  }

  .project-section-wrapper  .asset-info  .act-dwn {
    font-size: 18px;
    text-align: center;
    color: #374957;
    font-weight: 300;
    padding: 5px 0;
  }

  .project-section-wrapper  .act-dwn a {
    font-size: 18px;
    text-align: center;
    color: #00b5a0;
    font-weight: 700;
    cursor: pointer;
  }



 
    @media screen and (max-width: 920px){

        .project-section-wrapper {
        padding: 20px 2rem !important;
        padding-top: 120px !important;
        }

        .project-section-wrapper .image-content {
            height: 100%;
        }
  }


  .countdown-circle {
    width: 50px; /* Set the width and height based on your design preferences */
    height: 50px;
    background-color: #3498db; /* Set the background color */
    color: white; /* Set the text color */
    border-radius: 50%; /* Make it a circle */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; /* Set the font size */
    font-weight: bold;
    position: absolute;
    top: 20px; /* Adjust the position based on your design */
    right: 20px;
    margin: 0 auto;
    padding: 20px 0;
  }