/* :root {
  ---color-teal-darker: #0a2a2e;
  ---nav-bg-color-teal-dark: #00515f;
  --font-family: "Inter", sans-serif;
}

 */



/* .navmenu-links-container {
  display: none;
}

.navbar-sign {
  display: none;
}

.nv-mobile-slider {
  display: none;
}

.navbar-sign {
  flex: 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  background-color: #34afc5;
}

.land_navbar .nav-link {
  text-transform: capitalize;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
}

.land_navbar .nav-item {
  color: #066374 !important;
  margin-right: 8px;
  cursor: pointer;
}

.land_navbar .nav-item2 {
  color: #ffb027;
  margin: 0 6px;
  cursor: pointer;
}


.navbar-sign .button2 {
  padding: 0.7rem 1.5rem;
  color: #ffff;
  background: #ffa200;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
}

.navbar-sign .button {
  padding: 0.5rem 1.5rem;
  color: #ffff;
  background: transparent;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
} */

